.container {
  position: relative;
  background-color: #fff;
  width: var(--sheet-width, 840px); /* デフォルト幅840px */
  margin: -40px auto 0;
  padding: 50px 80px;
  border-radius: 8px;
  /* z-indexが適切に設定されているか */
  z-index: 1;
}

/* 1250px以下の画面でレスポンシブ対応を追加 */
@media (max-width: 1250px) {
  .container {
    width: calc(100% - 80px); /* 1250px以下では画面幅に合わせる */
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 40px 16px;
  }
}
