.list {
  border-bottom: 1px solid var(--color-border-light);
}
.list:last-child {
  border-bottom: none;
}

.link {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  padding: 24px 0;
}

.image {
  width: 200px;
  height: auto;
  border-radius: var(--border-radius);
}

.title {
  font-size: var(--font-size-news-title);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 640px) {
  .news-item:hover img {
    /* ホバー効果が自動発火している可能性 */
    transform: scale(1.05);
    filter: brightness(1.1);
  }
  .link {
    display: block;
    padding: 16px 0;
  }

  .image {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .title {
    font-size: var(--font-size-base);
    font-weight: bold;
    margin-bottom: 0.4rem;
  }

  .meta {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
